<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-4723331789662981~4112620341</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>WorkSans-Black.ttf</string>
		<string>WorkSans-Bold.ttf</string>
		<string>WorkSans-Light.ttf</string>
		<string>WorkSans-Medium.ttf</string>
		<string>WorkSans-Regular.ttf</string>
		<string>WorkSans-SemiBold.ttf</string>
		<string>WorkSans-Thin.ttf</string>
	</array>
</dict>
</plist>
